
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/users.css">
  <script src="../static/js/users.js"></script>
  <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Password</th>
    <th>Actions</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td>



      <form method="post" action="/updateUser" >
        <button type="submit">Update</button>
        <input type="hidden" name="id" th:value="${user.id}">
<!--        <input type="hidden" name="username" th:value="${user.username}">-->
<!--        <input type="hidden" name="password" th:value="${user.password}">-->



      </form>

    </td>
  </tr>
</table>
</body>
</html>
