<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Delete User</title>-->
<!--  &lt;!&ndash; Add your CSS styles or include external stylesheets here &ndash;&gt;-->
<!--</head>-->

<!--<body>-->
<!--<div class="container">-->
<!--  <h1>Delete User</h1>-->

<!--  &lt;!&ndash; Display confirmation message &ndash;&gt;-->
<!--  <p>Are you sure you want to delete the user?</p>-->
<!--  <form id="deleteForm" action="/deleteUser/{id}" method="post" th:method="delete">-->
<!--    &lt;!&ndash; Add a hidden input to hold the user ID &ndash;&gt;-->
<!--    <input type="hidden" name="userId" th:value="${user.id}">-->
<!--    &lt;!&ndash; Submit button for deletion &ndash;&gt;-->
<!--    <button type="button" >Delete User</button>-->
<!--  </form>-->

<!--</div>-->
<!--</body>-->

<!--</html>-->
