<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">

  <title>Login</title>
  <style>
    /* Initially hide the register form */
    #registerForm {
      display: none;
    }
  </style>
</head>
<body>
<div class="container">
  <h2>Login</h2>
  <!-- Include the login form directly -->
  <form id="loginForm" action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" placeholder="Enter your username">
    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Enter your password">
    <button type="button" onclick="performLogin()">Login</button>
    <!-- Placeholder for the response -->

  </form>
  <div id="loginResponse"></div>
  <!-- Link to toggle between login and register forms -->
  <p id="registerLink">Don't have an account? <a href="#" onclick="toggleForms()">Register</a></p>

  <!-- Include the register form directly -->
  <form id="registerForm" action="/register" method="POST">
    <label for="username1">Username:</label>
    <input type="text" id="username1" placeholder="Enter your username">
    <label for="password1">Password:</label>
    <input type="password" id="password1" placeholder="Enter your password">
    <button type="button" onclick="performRegister()">Register</button>
  </form>

  <div id="registerResponse"></div>



</div>
<script src="../static/js/index.js"></script>
</body>
</html>
